@model IEnumerable<DarkLibCW.Models.Book>

@{
    ViewData["Title"] = "Экземпляры книг";
}

<h1>Таблица книг:</h1>

<p>
    <a asp-action="Create">Добавление новой записи</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatalogCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatalogCard.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Type)
            </td>
            <td>
                    <a class="btn btn-edit" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                    <a class="btn btn-1" asp-action="Details" asp-route-id="@item.Id">Детализация</a>
                    <a class="btn btn-delete" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
