@model IEnumerable<DarkLibCW.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-1" asp-action="Create">Добавление новой записи</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a class="btn btn-edit" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                    <a class="btn btn-edit" asp-action="Details" asp-route-id="@item.Id">Информация о записи</a>
                    <a class="btn btn-delete" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
