@model IEnumerable<DarkLibCW.Models.ViewModels.CategoryBooks>

@{
    ViewData["Title"] = "Категории";
}

@if(User.IsInRole("admin") || User.IsInRole("librarian"))
{
    <p>
        <a class="btn btn-1" asp-action="Create">Добавление новой записи</a>
    </p>
}
@foreach(var categoryBooks in Model)
{
    <a href="@Url.Action("Details", "Categories", new { id = categoryBooks.Category.Id })">
        <h4 class="text-decoration-none text-black">@Html.DisplayFor(model => categoryBooks.Category.Name)</h4>
        <hr />
        @foreach (var catalogCards in categoryBooks.CatalogCards)
        {
            <div class="col-md-2 my-2 card-wrapper">
                <a href="@Url.Action("Details", "CatalogCards", new { id = catalogCards.Id })">
                    <img src="@catalogCards.Image" class="img-thumbnail card-wrapper" />
                    <h5 class="mt-2 mb-0 card-title">@catalogCards.Title</h5>
                    <p class="mb-1 card-title">@catalogCards.Edition.Name, @catalogCards.EditionDate.Year</p>
                </a>
            </div>
        }
    </a>
}