@model IEnumerable<DarkLibCW.Models.Status>

@{
    ViewData["Title"] = "Статусы";
}

<h1>Таблица Статусов</h1>

<p>
    <a class="btn btn-1" asp-action="Create">Добавление новой записи</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                    <a class="btn btn-edit" asp-action="Edit" asp-route-id="@item.Id">Изменение</a>
                    <a class="btn btn-1" asp-action="Details" asp-route-id="@item.Id">Детализация</a>
                    <a class="btn btn-back" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
