@model IEnumerable<DarkLibCW.Models.Issue>

@{
    ViewData["Title"] = "Index";
}

<h1>Таблица выдачи книг:</h1>

<p>
    <a class="btn btn-1" asp-action="Create">Создать новую выдачу</a>
    <a class="btn btn-1" asp-controller="IssueAddFromBooking" asp-action="ChooseBookingToIssue">Добавить из бронирования</a>
    <a class="btn btn-1" asp-action="GetReport">Получить отчет о выдачах</a>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscriber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Librarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>    
            <td>
                @Html.DisplayFor(modelItem => item.Book.CatalogCard.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subscriber.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Librarian.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate.Date)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-edit" asp-route-id="@item.Id">Изменить</a>
                    <a asp-action="Details" class="btn btn-1" asp-route-id="@item.Id">Детализация</a>
                    <a asp-action="Delete" class="btn btn-back" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
